* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", Helvetica, sans-serif;
}

select{
  width: 35%;
  height: 30px;
}
.main-body {
  display: flex;
  background-color: #e9e9e9;
  min-height: 100vh;
}
.navbar {
  width: 8%;
  display: flex;
  flex-direction: column;
  background-color: #3d49b8;
  margin-right: 8px;
}
.logo, .logo:hover{
  text-decoration: none;
  margin-top: 22px;
}
a, a:hover{
  color: #e9e9e9;
  text-decoration: none;
}
.input-portion{
  width: 56%;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.display-portion {
  width: 36%;
  margin: 2px;
  display: flex;
  justify-content: center;
}
.input-portion {
  margin: 4px;
}
.form {
  width: 60%;
}
.nav-button {
  font-size: 50px;
}
.form-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.label {
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 2rem;
  font-weight: bold;
  color: #111111;
}
.form-control {
  width: 80%;
}
.button-container {
  display: flex;
  justify-content: center;
}
.radio {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-button {
  transform: scale(1.5);
}
.custom-button {
  background-color: #000000;
  font-size: 1.5rem;
  border: none;
  box-shadow: 2px 2px #f8d4a5;
}
.input-portion {
  border-right: solid;
  border-width: 0.3rem;
  border-color: #000000;
}
.list-body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
  border: 1px solid black
}
.current-trigger-label {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.trigger-main-body {
  width: 100%;
}
.list-items {
  width: 75%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
}
.edit-button-container {
  margin-right: 8px;
}
.edit-buttons {
  color: #000000;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
.edit-input-portion {
  width: 92%;
  display: flex;
  justify-content: center;
}
.edit-heading {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 2px;
}
.edit-radio-button {
  transform: scale(2);
}
.edit-input {
  display: flex;
  justify-content: space-between;
}
