*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.main-body{
  display: grid;
  grid-template-columns: 200px calc(100vw - 200px);
}

.logo{
  font-size: 2rem;
}

.navbar{
  width: 100%;
  height: 8vh;
  background: #f1f1f1;
  border-bottom: 2px solid lavender;
}

.create-trigger, .display-triggers{
  height: 92vh;
}

.display-triggers{
  overflow-y: scroll;
}


.create-trigger{
  border-right: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.current-trigger-label{
  font-weight: 600;
  padding: 1.5rem;
  background-color: #ebebeb;
  border-bottom: 2px solid lavender;
}

.triggers-list{
  display: table;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  gap: 1rem;
}

.list-body{
  display: table-row;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.list-header{
  font-weight: 300;
  text-align: center;
  color: rgba(0,0,0,0.5);
  display: table-row;
  border-bottom: 1px solid #ebebeb;
}

.trigger-name, .trigger-option, .trigger-value, .buttons, .list-header > div{
  display: table-cell;
  padding: 1rem;
}

.buttons{
  display: flex;
  gap: 2rem;
}

:root{
  --alert: #ba4941;
  --edit: #417cba;
}

.delete-button, .edit-button{
  font-weight: 500;
  border-radius: .4rem;
  padding: .25rem;
  width: 5rem;
  transition: 200ms;
}

.delete-button{
  border: 1px solid var(--alert);
  color: var(--alert);
}

.delete-button:hover{
  color: white;
  background-color: var(--alert);
}

.edit-button{
  border: 1px solid var(--edit);
  color: var(--edit);
}

.edit-button:hover{
  color: white;
  background-color: var(--edit);
}

.edit-button:hover > a{
  color: white;
}

.edit-button > a{
  text-decoration: none;
  color: var(--edit);
}

.edit-button > a:hover{
  text-decoration: none;
  color: white;
}

button{
  background: none;
  border: none;
}

.form-body{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
}

.value-input{
  max-width: 8rem;
}

select{
  width: 8rem;
  padding: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.submit-button{
  margin-top: 1rem;
}

.edit-input-portion{
  display: flex;
  flex-direction: column;
  place-items: center;

}

.edit-heading{
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(0,0,0,0.5);
}

.edit-body{
  display: grid;
  place-items: center;
  height: 80vh;
  margin: auto;
  width: 400px;
}

.edit-body > .main-body{
  display: flex;
  grid-template-columns: 1fr;
}

.edit-input{
  display: flex;
  flex-direction:   column;
}
