* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Helvetica, sans-serif;
}
.main-body {
  display: flex;
  background-color: #d4e9fe;
  min-height: 100vh;
}
.navbar {
  width: 8%;
  display: flex;
  flex-direction: column;
  background-color: #fea735;
  border-radius: 0 12px 12px 0;
  margin-right: 8px;
  box-shadow: 5px 5px #fa8e01;
}
.logo {
  margin-top: 22px;
}
.input-portion,
.display-portion {
  width: 46%;
  margin: 24px;
  display: flex;
  justify-content: center;
}
.input-portion {
  margin: 4px;
}
.form {
  width: 60%;
}
.nav-button {
  font-size: 50px;
}
.fas:hover {
  color: #000;
}
.form-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.label {
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 2rem;
  font-weight: bold;
  color: #fa8e01;
}
.form-control {
  width: 80%;
}
.button-container {
  display: flex;
  justify-content: center;
}
.radio {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.radio-button {
  margin-bottom: 12px;
}
.main-button {
  transform: scale(1.5);
}
.radio-labels {
  margin-left: 16px;
  font-size: 2rem;
  color: #c36f00;
}
.radio-labels:hover {
  color: #fbc47c;
}
.custom-button {
  background-color: #fa8e01;
  font-size: 1.5rem;
  border: none;
  box-shadow: 2px 2px #f8d4a5;
}
.custom-button:hover {
  background-color: #ffc579;
}
.input-portion {
  border-right: solid;
  border-width: 0.3rem;
  border-color: #fa8e01;
}
.list-body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}
.current-trigger-label {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.trigger-main-body {
  width: 80%;
}
.list-items {
  width: 75%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #c36f00;
}
.edit-button-container {
  margin-right: 8px;
}
.edit-buttons {
  color: #f0ab51;
  border: none;
  background-color: #d4e9fe;
  font-size: 2rem;
}
.fa-trash:hover {
  color: #c36f00;
}
.fa-edit:hover {
  color: #c36f00;
}
.edit-input-portion {
  width: 92%;
  display: flex;
  justify-content: center;
}
.edit-heading {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fa9511;
  margin-bottom: 2px;
}
.edit-radio-button {
  transform: scale(2);
}
.edit-input {
  display: flex;
  justify-content: space-between;
}
