<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
        Welcome to the Vigil Stock Alert System!
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>